<p>What Would You Like to Do?</p>
<ul>
    <li><a asp-controller="manager" asp-action="EditEmployees">View/Edit Employees</a></li>
    <li><a asp-controller="manager" asp-action="ViewTask">Edit/Assign Tasks</a></li>

</ul>
 <p>
