<p>What Would You Like to Do?</p>
<ul>
    <li><a asp-controller="manager" asp-action="Index">View/Edit Employees</a></li>
    <li><a asp-controller="manager" asp-action="Index">Edit/Assign Tasks</a></li>

</ul>
  </p>
